@import "./global.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family-normal;
  font-weight: $font-weight-normal;
}

.main {
  height: 100vh;
  min-height: 640px;
  background-image: linear-gradient(
    to bottom,
    $color-background-gradient-start,
    $color-background-gradient-end
  );
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 64px;
  gap: 48px;
  align-items: center;
  justify-items: center;
  width: 90%;
  height: 100%;
  margin: 0px auto;
  padding: 24px 0px;
}
